.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.page {
    --color-white: #e2e5ed;
    background-color: var(--color-white);
    padding: 5px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.switch-wrapper {
    --width: 90px;
    --height: 40px;
}

.switch {
    --shadow-x: 5px;
    --shadow-y: 14px;
    --shadow-blur: 3px;
    --shadow-spread: -12px;
    --shadow-top: inset var(--shadow-x) var(--shadow-y) var(--shadow-blur)
        var(--shadow-spread) #98a4b98a;

    display: block;
    width: var(--width);
    height: var(--height);
    padding: calc(var(--height) * .21);
    background-color: #000;
    border-radius: 100px;
    box-shadow: inset 5px 14px 3px -12px #98a4b98a;
}

.switch-indicator-wrapper {
    display: flex;
    height: 100%;
    border-radius: 100px;
    box-shadow: inset 0 0 2px 0 #0000008a;
}

.swtich-indicator {
    width: 50%;
}

.swtich-indicator--enable {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #e06d37;
}

.swtich-indicator--disable {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #bfbfbf;
}